* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bus_container_title {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 20px;
}
.bus_container_sub_title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main_bus_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.straight_line {
  border: 1px solid black;
  margin: 10px 20px;
}

.bus_couch_sector {
  border: 1px solid black;
  margin-left: 42%;
  margin-right: 42%;
  padding: 20px;
}

.bus_couch {
  display: flex;
  justify-content: center;
}

.bus_couch .square {
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 5px;
  background-color: rebeccapurple;
  cursor: pointer;
}

.bus_couch .space_relif {
  margin: 0px 5px;
}

.select {
  background-color: red;
}

.Main_container_section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.Main_container_section .First_section {
  font-size: 15px;
}

.Main_container_section .Second_section {
  margin-left: 30px;
  font-size: 15px;
}
.Main_container_section .Third_section {
  font-size: 15px;
}

.last_div {
  display: flex;
  justify-content: center;
}
.last_div button {
  margin: 20px;
  padding: 5px;
  background-color: purple;
  cursor: pointer;
  color: aliceblue;
}

.last_div button:hover {
  transition: 0.5s;
}
